<!DOCTYPE html>
<html>
<head>
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=2.0, user-scalable=1"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="layoutmode" content="standard">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<!--uc浏览器判断到页面上文字居多时，会自动放大字体优化移动用户体验。添加以下头部可以禁用掉该优化-->
<meta name="wap-font-scale" content="no">
<meta content="telephone=no" name="format-detection" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<script type="text/javascript">

        //html root的字体计算应该放在最前面，这样计算就不会有误差了/
        var _htmlFontSize = (function(){
            var clientWidth = document.documentElement ? document.documentElement.clientWidth : document.body.clientWidth;
            if(clientWidth > 640) clientWidth = 640;
            document.documentElement.style.fontSize = clientWidth * 1/16+"px";
            return clientWidth * 1/16;
        })();

    </script>
<link rel="stylesheet" type="text/css" href="/m/skin/css/base.min.css" title="default" />
<link rel="stylesheet" type="text/css" href="/m/skin/css/banneranimation.min.css" title="" />
<link rel="stylesheet" id="mobiStyleTemplateCss" type="text/css" href="/m/skin/css/1000_4.min.css"/>
<link rel="stylesheet" id="fontsIcoCss" type="text/css" href="/m/skin/css/fontsico.min.css"/>

<!-- //输出模块样式css -->
<style id='mobiStyleNav' type='text/css'>
.open .navItem:nth-child(2) {
	transition-delay: 160ms;
}
.open .navItem:nth-child(4) {
	transition-delay: 240ms;
}
#navbar_101 .icon-navItemIcon:before {
	content: '';
	color: #fff;
}
#navbar_101 .icon-navItemIcon {
	background-image: none;
}
.open .navItem:nth-child(6) {
	transition-delay: 320ms;
}
.open .navItem:nth-child(8) {
	transition-delay: 400ms;
}
#navbar_104 .icon-navItemIcon:before {
	content: '';
	color: #fff;
}
#navbar_104 .icon-navItemIcon {
	background-image: none;
}
.open .navItem:nth-child(10) {
	transition-delay: 480ms;
}
.open .navItem:nth-child(12) {
	transition-delay: 560ms;
}
</style>
<style id='mobiCubeStyleModule'></style>
<style id='productNewDetailStyleModule'></style>
<style id='mobiSearchStyleModule'></style>
<style type="text/css">
.webDetailPage {
	display: none;
}
.form {
	padding: 0 !important;
	margin: 0 !important;
}
.g_web {
	background: #fff;
}
.webContainerBox {
	background: #fff;
	min-height: 100%;
}
.webContainerBox .form .formMiddle {
	background: #fff;
}
.g_web .moveAnimation, .g_web .webModuleContainer {
	transform: initial;
	-webkit-transform: initial;
}
</style>
<!-- 系统特殊隐藏栏目隐藏头部、banner -->

</head>
<body faiscoMobi="true" id="g_body" class="g_locale2052 mobiCol20">
<div class="webLeft"></div>
<div id="g_web" class="g_web"> 
  <!-- this is loading  -->
  <div id="webLoading" class="loading" style='display:none;'>
    <div id="splashscreen" class='splashscreen ui-loader'> <span class='ui-icon ui-icon-loading spin'></span> </div>
  </div>
  <div id="webTopBox" class="webTopBox webDetailPage ">
    <div id="webTop" class="webTop" >
      <div id='navbar' class='navbar navBaseIcon'>
        <div id='navbarList' class='navbarList'> </div>
      </div>
    </div>
  </div>
  <div id="webHeaderBox" class="webHeaderBox webDetailPage ">
    <div class='navButton' id='navButton'>
      <div class='navButtonPanel'></div>
      <div class='menuNav'>
        <div class='menuNavTip icon-menuNavTip'></div>
      </div>
    </div>
    <div id='headerWhiteBg' class='headerSiteMaskWhiteBg'></div>
    <div id='headerBg' class='headerSiteMaskBg'></div>
    <div id='webHeader' class='webHeader webHeaderBg' >
      <div id='header' class='header' style='padding:0px;'> <span class='pageLogo' style='display:none;' id='pageLogo' sid='0'  pw='160' ph='160'>
        <div id='pageLogoImg' class='logoImg '></div>
        </span> <span class='pageTitle' id='pageTitle' >{dede:field.title/}</span> </div>
    </div>
  </div>
  <div id="webBannerBox" class="webBannerBox webDetailPage "> </div>
  <div id="webContainerBox" class="webContainerBox">
    <div id="webModuleContainer" class="webModuleContainer">
      <div id='module18' _headerHiden='1' class='form Handle  formStyle35 ' _autoHeight='1'>
        <div style='display:none;'  class='formBannerTitle formBannerTitle18'>
          <div class='titleLeft titleLeft18'> </div>
          <div class='titleCenter titleCenter18'>
            <div class='titleText titleText18'>
              <div class='titleTextIcon icon-titleText'>&nbsp;</div>
              <div class='textContent'></div>
            </div>
            <div class='formBannerMore formBannerMore18'></div>
          </div>
          <div class='titleRight titleRight18'> </div>
        </div>
        <div class='formMiddle formMiddle18'>
          <div class='middleLeft middleLeft18'> </div>
          <div class='middleCenter middleCenter18'>
            <div class='formMiddleContent formMiddleContent18 moduleContent'>
              <div id='productNewDetailPanel18' class='productNewDetailPanel'>
                <div class='productDetailHeader detailHeaderColor' id='productDetailHeader18'><span
                                        class='icon-gClose g_round g_iconMiddle proBack icon-defaultColor'></span><span
                                        class='icon-gOther g_round g_iconMiddle proOther icon-defaultColor'></span>
                  <div class='proOtherPanel'><a
                                            class='icon-gHome g_iconMiddle g_round proHome icon-defaultColor'
                                            href='index.php'></a><span id='productDetailShare'
                                                                       class='icon-share g_iconMiddle g_round proShare icon-defaultColor'></span> </div>
                </div>
                <div class='productNewDetail'>
                  <div class='proImgSwipe' id='productNewDetailSwipe18'>
                    <div class='proDetailImgBox' style=''>
                      <div class='swipImgBox'>
                        <div vwidth='295' vheight='180' class='proDetailImg'
                                                     style='height:16.0rem;background-image:url({dede:field name='picname'/});'></div>
                      </div>
                    </div>
                    <div class='productNameSwipBox' style=''>
                      <div class='g_displayClamp2'
                                                 style='word-break:break-all;white-space: normal;overflow:hidden;text-overflow:ellipsis;'> {dede:field.title/} </div>
                    </div>
                  </div>
                  <div class='productDetailTabPanel' id='productDetailTabPanel18'>
                    <ul class='tabUl' id='productTabUl'>
                      <li class='g_middleColor tabLi tabActive' style='width:50%;' id='tabLi1' data='1'>产品详情 </li>
                      <li class='g_middleColor tabLi' style='width:50%;' id='tabLi2' data='2'> 产品参数 </li>
                    </ul>
                    <div class='tabBody'>
                      <div class='tabPanel tabPanelAtive' id='tabPanel1'>
                        <div style="text-align: center;"> {dede:field.body/}</div>
                      </div>
                      <div class='tabPanel' id='tabPanel2'>
                        <div class="productInfoParamter propInfo">
                          <div class="propInfoRow">
                            <div class="propName g_minor propInfoCell">商品型号</div>
                            <div class="propValue propInfoCell"><span class="mallPrice g_defaultColor">{dede:field.title/}</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='middleRight middleRight18'> </div>
        </div>
      </div>
    </div>
  </div>
  {dede:include filename="footer_m.htm"/} 
  <!--设置网站的背景颜色  start-->
  <div class="webBackgroundBox  ">
    <div id="webBodyBackground" class="webBackground "></div>
    <div id='navExistOffPanel' class='navExistOffPanel'></div>
  </div>
  <!--设置网站的背景颜色  end--> 
  
  <!-- ------------------------------------------ --> 
</div>
<div class="webRight"></div>
<script type="text/javascript" language="javascript" >

    //管理态下的预览页面提前作处理
    if( !false && window.top !== window.self){
        var g_className = document.getElementById("g_body").className;
        document.getElementById("g_body").className = g_className + ' g_viewMode';
    }
</script> 
<script type="text/javascript" charset="utf-8" src="/m/skin/js/jqmobi.min.js"></script> 
<script type="text/javascript" charset="utf-8" src="/m/skin/js/jqmobi_ui.min.js"></script> 
<script id="mobiOperationJS" type="text/javascript" charset="utf-8" src="/m/skin/js/mobi.min.js"></script> 
<script type="text/javascript" src="/m/skin/js/2052.min.js"></script> 
<script type="text/javascript">
    var _jsErrCahche = [];




    if (typeof Fai == 'undefined'){
        Fai = {};
        //解决页面被嵌套在iframe的场景
        Fai.top = window;
    }




    Fai.top._bannerData = {};  //横幅数据
    Fai.top._resRoot = '/m/dedemao/';
    Fai.top._templateFrameId = 1000;
    Fai.top._templateLayoutId = 4;
    Fai.top._mobiSiteTitleChanged = 0; 	//用于记录网站标题是否有改动
    Fai.top._mobiSiteTitle = {};   	//网站标题数据
    Fai.top._onlineServiceJson = {};//在线客服
    Fai.top._openOnlineService = true;
    Fai.top._manageMode = false;
    Fai.top.sessionMemberId = 0;
    Fai.top.memberName = "";
    Fai.top._colInfo = {};
    Fai.top._lcid = 2052;   // 当前的语言版本
    Fai.top.wxShareIcon_id  = "";
    Fai.top.wxShareIcon_ShowType = 0;

    jm(document).ready(function() {
        //判断该栏目是否被删除

        //管理态下的预览页面提前作处理
        //Mobi.viewPageBeforeInit();

        // 绑定退出事件


        //手机视图初始化函数
        Mobi.initMobiPage({});



        //前端性能数据上报
        Mobi.report();

        Mobi.showQqBg();
        Mobi.showPhonesBg();
        Mobi.setShowSiteTitleBgFlag('0');
        Mobi.changeSiteTitleBg();
        Mobi.logoSizeCompressByMargin();
        Mobi.titlePositionRefreshByLogo();
        Mobi.initModulePhotoSwipe('productNewDetailSwipe18');
        Mobi.initProductSwipe('productNewDetailSwipe18');
        Mobi.initPbCommUploadImgParam();Mobi.showNewMarketPrice(false);
        Mobi.initProductRestrict();
        Fai.top._shareData = {};
        Mobi.productNewDetailEventInit({'moduleId':18,'productId':20});

    });
    //Mobi.preventScroll(document.getElementById("g_body"));//阻止滚轮事件冒泡
</script> 
<script type="text/javascript">
    var _jsErrCahche = [];


    if (typeof Fai == 'undefined') {
        Fai = {};
        //解决页面被嵌套在iframe的场景

        Fai.top = window;

    }


    Fai.top._bannerData = {
        "h": false,
        "bn": 1,
        "b": [{
            "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
            "t": 1,
            "lt": 0,
            "u": "",
            "p": "",
            "tp": "",
            "w": 640,
            "h": 300,
            "aj": ""
        }],
        "c": [{
            "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
            "p": "",
            "t": 1,
            "tp": "",
            "w": 640,
            "h": 300
        }],
        "showType": 0,
        "st": 6,
        "et": 1
    };  //横幅数据
    Fai.top._resRoot = 'http://mo.faisys.com';
    Fai.top._templateFrameId = 1000;
    Fai.top._templateLayoutId = 4;
    Fai.top._mobiSiteTitleChanged = 0; 	//用于记录网站标题是否有改动
    Fai.top._mobiSiteTitle = {
        "fontType": 0,
        "align": 0,
        "font": {"size": 12, "family": "", "colorType": 0, "color": "#000"},
        "name": "TEMPLATE",
        "bgType": "0",
        "bgFont": {"color": "#000", "alpha": 100},
        "bgImgFileId": "",
        "bgImgStyle": "1"
    };   	//网站标题数据
    Fai.top._onlineServiceJson = {
        "map": {
            "open": true,
            "name": "在线地图",
            "city": "广州市",
            "mark": "",
            "d_address": "海珠区",
            "type": 3,
            "typeStr": "map"
        },

        "open": true,
        "order": [3, 2, 1, 4, 5]
    };//在线客服
    Fai.top._openOnlineService = true;
    Fai.top._manageMode = false;
    Fai.top.sessionMemberId = 0;
    Fai.top.memberName = "";
    Fai.top._colInfo = {
        "aid": 2994444,
        "wid": 0,
        "id": 3,
        "type": 3,
        "flag": 0,
        "moduleList": [307],
        "moduleHidden": [302, 306, 301],
        "createTime": 1452234465000,
        "updateTime": 1426662827000,
        "authMemberLevelId": 0,
        "extId": 0,
        "name": "首页",
        "defaultName": "首页",
        "url": "/m/",
        "valid": true,
        "baseSetting": {
            "c": 0,
            "i": 0,
            "iconType": 0,
            "id": 0,
            "content": "",
            "classname": "",
            "color": "",
            "colIconType": 0,
            "colIconCusType": 0,
            "iconFileId": "",
            "jumpCtrl": {"ide": "", "columnType": 0}
        },
        "columnStyle": {"s": 2},
        "title": {
            "fontType": 0,
            "align": 0,
            "font": {"size": 12, "family": "", "colorType": 0, "color": "#000"},
            "bgType": "0",
            "bgFont": {"color": "#000", "alpha": 100},
            "bgImgFileId": "",
            "bgImgStyle": "1"
        },
        "logo": {
            "i": "",
            "h": true,
            "a": 1,
            "style": 0,
            "marginType": 0,
            "margin": {"top": 0, "bottom": 0, "left": 0, "right": 0}
        },
        "banner": {"showType": 0, "h": false, "bn": 1, "b": [{"i": "1", "t": 0}], "st": 6, "et": 1, "c": []},
        "independent": false,
        "allowed": true,
        "selectable": true,
        "forbid": false
    };
    Fai.top._lcid = 2052;   // 当前的语言版本
    Fai.top.wxShareIcon_id = "";
    Fai.top.wxShareIcon_ShowType = 0;

    jm(document).ready(function () {

        //管理态下的预览页面提前作处理
        //Mobi.viewPageBeforeInit();

        // 绑定退出事件
        jm(window).bind("load", function () {

//当前模块 start

            //Mobi.initSwipe('bannerSwipe',{"h":false,"bn":1,"b":[{"i":"ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI","t":1,"lt":0,"u":"","p":"","tp":"","w":640,"h":300,"aj":""}],"c":[{"i":"ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI","p":"","t":1,"tp":"","w":640,"h":300}],"showType":0,"st":6,"et":1});
            if (!Mobi.bannerAnimate.init({
                        "h": false,
                        "bn": 1,
                        "b": [{
                            "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                            "t": 1,
                            "lt": 0,
                            "u": "",
                            "p": "",
                            "tp": "",
                            "w": 640,
                            "h": 300,
                            "aj": ""
                        }],
                        "c": [{
                            "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                            "p": "",
                            "t": 1,
                            "tp": "",
                            "w": 640,
                            "h": 300
                        }],
                        "showType": 0,
                        "st": 6,
                        "et": 1
                    })) {
                Mobi.initBannerDefaultDom({
                    "h": false,
                    "bn": 1,
                    "b": [{
                        "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                        "t": 1,
                        "lt": 0,
                        "u": "",
                        "p": "",
                        "tp": "",
                        "w": 640,
                        "h": 300,
                        "aj": ""
                    }],
                    "c": [{
                        "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                        "p": "",
                        "t": 1,
                        "tp": "",
                        "w": 640,
                        "h": 300
                    }],
                    "showType": 0,
                    "st": 6,
                    "et": 1
                });
                Mobi.initSwipe('bannerSwipe', {
                    "h": false,
                    "bn": 1,
                    "b": [{
                        "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                        "t": 1,
                        "lt": 0,
                        "u": "",
                        "p": "",
                        "tp": "",
                        "w": 640,
                        "h": 300,
                        "aj": ""
                    }],
                    "c": [{
                        "i": "ABUIABACGAAgncqkqAUo9cnjlwcwgAU4rAI",
                        "p": "",
                        "t": 1,
                        "tp": "",
                        "w": 640,
                        "h": 300
                    }],
                    "showType": 0,
                    "st": 6,
                    "et": 1
                });
            }
            ;

            //调整导航栏与g_web的top值
            //部分主题有css3动画，所以会导致计算失误，需要等css3动画执行完之后计算
            Mobi.autoFixGWebTop(4);

            //加载背景音乐
            if (0 == 1) {
                Mobi.initBgm('http://2994444.s21d-2.faiusrd.com/0/');
            } else {
                Mobi.initBgmCookie();
            }


            Mobi.initFooterHeight();
        });

        //手机视图初始化函数
        Mobi.initMobiPage({
            "id": 1000,
            "createTime": "2015-02-27",
            "preview": "/m/skin/image/1000.jpg",
            "previewGif": "/m/skin/image/1000.gif",
            "color": 0,
            "style": ["/m/skin/css/1000_1.min.css?v=201601211903", "/m/skin/css/1000_2.min.css?v=201601211903", "/m/skin/css/1000_3.min.css?v=201601211903", "/m/skin/css/1000_4.min.css?v=201601211903", "/m/skin/css/1000_5.min.css?v=201601211903"],
            "type": 1,
            "moduleStyle": 0,
            "designType": 1,
            "presetIndex": 0,
            "cube": 0,
            "layout": 4,
            "imagePage": 347,
            "backgroundImage": 0,
            "colors": [],
            "colorsName": []
        });

        // 取统计数据
        if (true) {


            Mobi.statisticalMobiVisitors({
                colId: 3,
                pdId: -1,
                ndId: -1,
                sc: 0,
                rf: ""
            });
        }

        //前端性能数据上报
        Mobi.report();

        Mobi.showQqBg();
        Mobi.showPhonesBg();
        Mobi.setShowSiteTitleBgFlag('0');
        Mobi.changeSiteTitleBg('null', 'null', 'null', 'null', 'null');
        Mobi.logoSizeCompressByMargin();
        Mobi.titlePositionRefreshByLogo();


    });
    //Mobi.preventScroll(document.getElementById("g_body"));//阻止滚轮事件冒泡
</script>
</body>
</html>
